In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('../data/loan_200k.csv' , low_memory=False)

In [38]:
leak_cols = [c for c in df.columns if "pymnt" in c or "recover" in c or "hardship" in c or "settlement" in c or 'total_rec' in c or 'out_prncp' in c or 'collections' in c or 'last_pymnt' in c or 'next_pymnt' in c or 'last_credit_pull_d' in c]
leak_cols

['pymnt_plan',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'sec_app_collections_12_mths_ex_med',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [39]:
df.drop(columns=leak_cols, inplace=True)
df.drop(columns=['id', 'member_id'], inplace=True)

In [40]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_mths_since_last_major_derog,deferral_term,payment_plan_start_date,orig_projected_additional_accrued_interest,disbursement_method
0,2500,2500,2500.0,36 months,13.56,84.92,C,C1,Chef,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
1,30000,30000,30000.0,60 months,18.94,777.23,D,D2,Postmaster,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
2,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
3,4000,4000,4000.0,36 months,18.94,146.51,D,D2,IT Supervisor,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
4,30000,30000,30000.0,60 months,16.14,731.78,C,C4,Mechanic,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash

In [42]:
df['id'] = range(len(df))
df

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_mths_since_last_major_derog,deferral_term,payment_plan_start_date,orig_projected_additional_accrued_interest,disbursement_method,id
0,2500,2500,2500.0,36 months,13.56,84.92,C,C1,Chef,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,0
1,30000,30000,30000.0,60 months,18.94,777.23,D,D2,Postmaster,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,1
2,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,2
3,4000,4000,4000.0,36 months,18.94,146.51,D,D2,IT Supervisor,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,3
4,30000,30000,30000.0,60 months,16.14,731.78,C,C4,Mechanic,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,6025,6025,6025.0,36 months,15.02,208.92,C,C3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,199995
199996,10000,10000,10000.0,36 months,6.11,304.72,A,A1,NaN,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,199996
199997,10000,10000,10000.0,36 months,7.84,312.63,A,A4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,199997
199998,35000,35000,35000.0,36 months,11.06,1146.85,B,B3,Financial Analyst,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,199998
199999,33850,33850,33850.0,60 months,16.91,839.63,C,C5,teacher,2 years,...,70.7,4.0,20.0,0.0,NaN,NaN,NaN,NaN,Cash,199999

In [43]:
df.shape

(200000, 109)

In [47]:
df.dtypes.to_dict()

{'loan_amnt': dtype('int64'),
 'funded_amnt': dtype('int64'),
 'funded_amnt_inv': dtype('float64'),
 'term': dtype('O'),
 'int_rate': dtype('float64'),
 'installment': dtype('float64'),
 'grade': dtype('O'),
 'sub_grade': dtype('O'),
 'emp_title': dtype('O'),
 'emp_length': dtype('O'),
 'home_ownership': dtype('O'),
 'annual_inc': dtype('float64'),
 'verification_status': dtype('O'),
 'issue_d': dtype('O'),
 'loan_status': dtype('O'),
 'url': dtype('float64'),
 'desc': dtype('float64'),
 'purpose': dtype('O'),
 'title': dtype('O'),
 'zip_code': dtype('O'),
 'addr_state': dtype('O'),
 'dti': dtype('float64'),
 'delinq_2yrs': dtype('int64'),
 'earliest_cr_line': dtype('O'),
 'inq_last_6mths': dtype('int64'),
 'mths_since_last_delinq': dtype('float64'),
 'mths_since_last_record': dtype('float64'),
 'open_acc': dtype('int64'),
 'pub_rec': dtype('int64'),
 'revol_bal': dtype('int64'),
 'revol_util': dtype('float64'),
 'total_acc': dtype('int64'),
 'initial_list_status': dtype('O'),
 'mths_since_last_major_derog': dtype('float64'),
 'policy_code': dtype('int64'),
 'application_type': dtype('O'),
 'annual_inc_joint': dtype('float64'),
 'dti_joint': dtype('float64'),
 'verification_status_joint': dtype('O'),
 'acc_now_delinq': dtype('int64'),
 'tot_coll_amt': dtype('int64'),
 'tot_cur_bal': dtype('int64'),
 'open_acc_6m': dtype('int64'),
 'open_act_il': dtype('int64'),
 'open_il_12m': dtype('int64'),
 'open_il_24m': dtype('int64'),
 'mths_since_rcnt_il': dtype('float64'),
 'total_bal_il': dtype('int64'),
 'il_util': dtype('float64'),
 'open_rv_12m': dtype('int64'),
 'open_rv_24m': dtype('int64'),
 'max_bal_bc': dtype('int64'),
 'all_util': dtype('float64'),
 'total_rev_hi_lim': dtype('int64'),
 'inq_fi': dtype('int64'),
 'total_cu_tl': dtype('int64'),
 'inq_last_12m': dtype('int64'),
 'acc_open_past_24mths': dtype('int64'),
 'avg_cur_bal': dtype('float64'),
 'bc_open_to_buy': dtype('float64'),
 'bc_util': dtype('float64'),
 'chargeoff_within_12_mths': dtype('int64'),
 'delinq_amnt': dtype('int64'),
 'mo_sin_old_il_acct': dtype('float64'),
 'mo_sin_old_rev_tl_op': dtype('int64'),
 'mo_sin_rcnt_rev_tl_op': dtype('int64'),
 'mo_sin_rcnt_tl': dtype('int64'),
 'mort_acc': dtype('int64'),
 'mths_since_recent_bc': dtype('float64'),
 'mths_since_recent_bc_dlq': dtype('float64'),
 'mths_since_recent_inq': dtype('float64'),
 'mths_since_recent_revol_delinq': dtype('float64'),
 'num_accts_ever_120_pd': dtype('int64'),
 'num_actv_bc_tl': dtype('int64'),
 'num_actv_rev_tl': dtype('int64'),
 'num_bc_sats': dtype('int64'),
 'num_bc_tl': dtype('int64'),
 'num_il_tl': dtype('int64'),
 'num_op_rev_tl': dtype('int64'),
 'num_rev_accts': dtype('int64'),
 'num_rev_tl_bal_gt_0': dtype('int64'),
 'num_sats': dtype('int64'),
 'num_tl_120dpd_2m': dtype('float64'),
 'num_tl_30dpd': dtype('int64'),
 'num_tl_90g_dpd_24m': dtype('int64'),
 'num_tl_op_past_12m': dtype('int64'),
 'pct_tl_nvr_dlq': dtype('float64'),
 'percent_bc_gt_75': dtype('float64'),
 'pub_rec_bankruptcies': dtype('int64'),
 'tax_liens': dtype('int64'),
 'tot_hi_cred_lim': dtype('int64'),
 'total_bal_ex_mort': dtype('int64'),
 'total_bc_limit': dtype('int64'),
 'total_il_high_credit_limit': dtype('int64'),
 'revol_bal_joint': dtype('float64'),
 'sec_app_earliest_cr_line': dtype('O'),
 'sec_app_inq_last_6mths': dtype('float64'),
 'sec_app_mort_acc': dtype('float64'),
 'sec_app_open_acc': dtype('float64'),
 'sec_app_revol_util': dtype('float64'),
 'sec_app_open_act_il': dtype('float64'),
 'sec_app_num_rev_accts': dtype('float64'),
 'sec_app_chargeoff_within_12_mths': dtype('float64'),
 'sec_app_mths_since_last_major_derog': dtype('float64'),
 'deferral_term': dtype('float64'),
 'payment_plan_start_date': dtype('O'),
 'orig_projected_additional_accrued_interest': dtype('float64'),
 'disbursement_method': dtype('O'),
 'id': dtype('int64')}